<strong>Link para emissão de Boleto</strong>

<p> Oticket </p>

<p>Foi realizado uma compra atravez deste e-mail, e agora estamos enviando o boleto 
  da compra para que seja realizado o pagamento.</p>
<p>Para emitir o boleto clique no link abaixo.</p>

<a href="{{ link }}">Boleto PDF</a>
